<div *ngLet="userProfile$ | async as profile">
  <ng-container *ngIf="profile">
    <h1>User profile</h1>
    <p>Username: {{ profile?.username }}</p>
    <p>Last password update: {{ profile?.last_pwd_update }} UTC</p>
    <p>Last login: {{ profile?.last_login }} UTC</p>
    <p>Country: {{ (profile?.country | country)?.countryNameEn }}</p>
    <p>
      <a [routerLink]="'./update'">Update profile</a
    </p>
  </ng-container>
  <ng-container *ngIf="!profile">
    <p>Profile not found</p>
  </ng-container>
</div>
