{% extends "base_generic.html" %}

{% block content %}
    <h2>My trees</h2>
    {% if tree_info_list %}
    <ul>
        {% for tree in tree_info_list %}
        <li> {{ tree.treeReference.display_name }} with objective  {{ tree.objective.display_name }}
            <a href="{% url 'Profile:my_trees_update' pk=tree.oid %}">Modify</a>
            <a href="{% url 'BonsaiAdvice:which_technique' %}?tree={{ tree.treeReference.name }}&objective={{ tree.objective.short_name }}&period={{ current_period|join:',' }}">See advice</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No TreeInfo are available.</p>
    {% endif %}

    <a href="{% url 'Profile:my_trees_create' %}">Add a tree</a>
{% endblock %}