  <form [formGroup]="form" class="row g-3">
    <app-custom-input
      [formName]="'tree'"
      [type]="InputType.SELECT"
      [options]="(treeOptions$ | async) ?? []"
      [placeholder]="'Select a tree species'"
      class="col-md-6"
    >
    </app-custom-input>

    <app-custom-input
      [formName]="'objective'"
      [type]="InputType.SELECT"
      [options]="(objectiveOptions$ | async) ?? []"
      [placeholder]="'Objective'"
      class="col-12"
    ></app-custom-input>

    <app-custom-input
      [formName]="'period'"
      [type]="InputType.SELECT"
      [options]="periodOptions"
      [placeholder]="'Period'"
      class="col-md-6"
    ></app-custom-input>

    <app-custom-input
      [formName]="'stage'"
      [type]="InputType.MULTISELECT"
      [options]="(stageOptions$ | async) ?? []"
      [placeholder]="'Stage'"
      class="col-md-6"
    >
    </app-custom-input>

    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
        Submit
      </button>
    </div>
  </form>
