{% extends "base_generic.html" %}

{% block head %}
    {{ form_association.media }}
    {{ form.media }}
{% endblock %}

{% block message %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

{% block content %}
{% if "create" in rev_url %}
<form action="{% url rev_url %}" method="post">
{% else %}
<form action="{% url rev_url pk %}" method="post">
{% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

{% if form_association %}
<form action="{% url rev_url pk %}" method="post">
    {% csrf_token %}
    {{ form_association.management_form }}
    {% for form in form_association %}
        <p>
        <div class="form-row">
            {{ form }}
        </div>
    </p>
    {% endfor %}
    <button class="add-form-row">+</button>
    <input type="submit" value="Submit">
</form>
<script type='text/javascript'>
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'association');
    return false;
});
</script>
{% endif %}
{% endblock %}
