{% extends "base_generic.html" %}
{% load bootstrap5 %}

{% block head %}
{{ form_association.media }}
{{ form.media }}
{% endblock %}

{% block message %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block title %}<title>BonsaiBuddy Admin</title>{% endblock %}

{% block content %}
<h2>{{ page_title }}</h2>
{% if "create" in rev_url %}
<form action="{% url rev_url %}" method="post" class="row g-3">
    {% else %}
    {% if form_association %}
    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#mainForm"
                    aria-expanded="true" aria-controls="mainForm">
                    Tree description
                </button>
            </h2>
            <div id="mainForm" class="accordion-collapse collapse show">
                <div class="accordion-body">
    {% endif %}
                    <form action="{% url rev_url pk %}" method="post" class="row g-3">
                        {% endif %}
                        {% csrf_token %}
                        {{ form }}
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
    {% if form_association %}
                </div>
            </div>
        </div>
    {% endif %}


        {% if form_association %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#associationForm" aria-expanded="false" aria-controls="associationForm">
                    Techniques
                </button>
            </h2>
            <div id="associationForm" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div style="display: inline-flex;">
                        <div style="width:18ch;">Sort:</div>
                        <div style='width:30ch;'><a href="{{ request.path }}?sort=technique">Technique name</a></div>
                        <div style='width:15ch;'><a href="{{ request.path }}?sort=objective">Objective</a></div>
                    </div>

                    <form action="{% url rev_url pk %}" method="post" class="row">
                        {% csrf_token %}
                        {{ form_association.management_form }}
                        <div class="accordion">

                            {% for form in form_association %}
                            <div class="accordion-item form-row">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#formrow-{{ forloop.counter0 }}-collapse"
                                    aria-expanded="false" aria-controls="formrow-{{ forloop.counter0 }}-collapse">
                                    Association #<div style="width:3ch">{{ forloop.counter0 }}</div> - {{ form.summary }}
                                    </button>
                                </h2>
                                <div id="formrow-{{ forloop.counter0 }}-collapse" class="accordion-collapse collapse">
                                    <div class="accordion-body">

                                        <p>
                                            {{ form }}
                                            <a class="clone-form-row btn-sm btn-success" role="button" name="copy-{{ forloop.counter0 }}">Copy</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="col-12">
                            <button class="add-form-row btn btn-success">+</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <script type='text/javascript'>
                $(document).on('click', '.add-form-row', function (e) {
                    e.preventDefault();
                    cloneMore('.form-row:last', 'association');
                    return false;
                });
                $(document).on('click', '.clone-form-row', function (e) {
                    e.preventDefault();
                    n = parseInt($(this).attr('name').replace('copy-', ''));
                    cloneMore('.form-row:nth-of-type(' + (n+1) + ')', 'association', false, n);
                    return false;
                });
            </script>
            {% endif %}
        </div>
    </div>
    {% endblock %}