{% extends "base_generic.html" %}

{% block head %}
    {{ form.media }}
{% endblock%}

{% block message %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

{% block content %}
<form action="{% url 'BonsaiAdvice:which_technique' %}" method="get" novalidate>
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
{% endblock %}
