<h2>Change password</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p>
    <app-custom-input
      formName="password1"
      placeholder="New password"
      [type]="InputType.PASSWORD"
    >
    </app-custom-input>
    <span class="helptext" *ngLet="this.form.get('password1') as control">
      <ul>
        <li
          [ngClass]="{
            'condition-invalid': control?.hasError('minlength'),
          }"
        >
          Your password must contain at least 8 characters.
        </li>
        <li
          [ngClass]="{
            'condition-invalid': control?.getError('django_validation')?.includes('password_too_common'),
          }"
        >
          Your password can’t be a commonly used password.
        </li>
        <li
          [ngClass]="{
            'condition-invalid': control?.getError('django_validation')?.includes('password_entirely_numeric'),
          }"
        >
          Your password can’t be entirely numeric.
        </li>
      </ul></span
    >
  </p>

  <p>
    <app-custom-input
      formName="password2"
      placeholder="Password confirmation"
      [type]="InputType.PASSWORD"
      [invalid]="form.getError('password_mismatch')"
    ></app-custom-input>
  </p>

  <p>
    <app-custom-input
      formName="oldPassword"
      placeholder="Old password"
      [type]="InputType.PASSWORD"
    ></app-custom-input>
  </p>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
    Modify
  </button>
</form>
