<div [ngClass]="{ 'form-floating': type !== InputType.CHECKBOX }">
  <!-- Input types templates -->
  <ng-template #textType>
    <input
      type="{{ type }}"
      [formControl]="control"
      class="form-control"
      [placeholder]="placeholder"
      [id]="'id_' + formName"
    />
  </ng-template>

  <ng-template #selectType>
    <select
      [formControl]="control"
      class="form-control form-select"
      [id]="'id_' + formName"
    >
      <option value disabled>Please select a value</option>

      <option *ngFor="let option of options" value="{{ option.value }}">
        {{ option.label }}
      </option>
    </select>
  </ng-template>

  <ng-template #textAreaType>
    <textarea
      cols="40"
      rows="10"
      class="description-lg form-control"
      [placeholder]="placeholder"
      [id]="'id_' + formName"
      [formControl]="control"
    ></textarea>
  </ng-template>

  <ng-template #checkBoxType>
    <input
      type="checkbox"
      class="form-check-input"
      [id]="'id_' + formName"
      [formControl]="control"
    />
  </ng-template>

  <ng-template #multiselectType>
    <p-multiSelect
      [formControl]="control"
      [options]="options"
      optionLabel="label"
      optionValue="value"
      display="chip"
      [styleClass]="'form-control'"
      [id]="'id_' + formName"
    ></p-multiSelect>
  </ng-template>

  <!-- Selection of the template -->
  <ng-template #option4>
    <ng-container *ngIf="type === InputType.MULTISELECT; else textType">
      <ng-container *ngTemplateOutlet="multiselectType"></ng-container>
    </ng-container>
  </ng-template>

  <ng-template #option3>
    <ng-container *ngIf="type === InputType.CHECKBOX; else option4">
      <ng-container *ngTemplateOutlet="checkBoxType"></ng-container>
    </ng-container>
  </ng-template>

  <ng-template #option2>
    <ng-container *ngIf="type === InputType.TEXTAREA; else option3">
      <ng-container *ngTemplateOutlet="textAreaType"></ng-container>
    </ng-container>
  </ng-template>

  <ng-container *ngIf="type === InputType.SELECT; else option2">
    <ng-container *ngTemplateOutlet="selectType"></ng-container>
  </ng-container>

  <label
    [for]="'id_' + formName"
    class="floating-label"
    [ngClass]="{
      'form-label': type !== InputType.CHECKBOX,
    }"
    [class]="validityCheck()"
    >{{ placeholder }}
    <span *ngIf="isRequired()">*</span>
  </label>
</div>
