{% extends "base_generic.html" %}
{% load tablify %}

{% block content %}
    <h1>{{ tree_info.display_name }}</h1>
    {{ tree_info.latin_name}}
    <p>{{ tree_info.description}}</p>

    {% if tree_info.placement|length > 0 %}
    <p><strong>Placement: </strong>{{ tree_info.placement|linebreaks }}</p>
    {% endif %}
    {% if tree_info.watering|length > 0 %}
    <p><strong>Watering: </strong>{{ tree_info.watering|linebreaks }}</p>
    {% endif %}
    {% if tree_info.fertilizing|length > 0 %}
    <p><strong>Fertilizing: </strong>{{ tree_info.fertilizing|linebreaks }}</p>
    {% endif %}
    {% if tree_info.pruning_wiring|length > 0 %}
    <p><strong>Pruning and wiring: </strong>{{ tree_info.pruning_wiring|linebreaks }}</p>
    {% endif %}
    {% if tree_info.repotting|length > 0 %}
    <p><strong>Repotting: </strong>{{ tree_info.repotting|linebreaks }}</p>
    {% endif %}
    {% if tree_info.propagation|length > 0 %}
    <p><strong>Propagation: </strong>{{ tree_info.propagation|linebreaks }}</p>
    {% endif %}
    {% if tree_info.pests|length > 0 %}
    <p><strong>Pests: </strong>{{ tree_info.pests|linebreaks }}</p>
    {% endif %}

    {% if technique_table|length > 0 %}
    Applicable techniques for this species:
    {{ technique_table|tablify:True }}
    {% endif %}

    {% if 'TreeInfo.change_content' in perms %}
    <p><a href="{% url 'BonsaiAdmin:treeinfo_update' pk=tree_info.name %}">Update</a></p>
    {% endif %}
    <p><a href="{% url 'BonsaiAdvice:which_technique' %}?tree={{tree_info.name}}">See advice</a></p>
{% endblock %}